.contain{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.div2,.div{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
    }

button{margin: 2%;width: 10%}
input{text-align: center}
.input{width: 50%;margin-top:7%}