*{
    margin: 0px;
    padding: 0px;
    user-select: none;
}
body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.alert-success{
    padding: 2%;
    background-color:rgba(59, 204, 90, 0.47) ;
}
.alert-heading{
    text-align: left;
    font-size: 40px;
    padding: 2%;
}
.alert-success p {
    padding: 0% 0% 0% 2%;
}
form{
    padding: 0% 0% 0% 2%;
}
.btn{
    width: 6%;
    height: 40px;
    margin-top: 1%;
    background-color: rgb(236, 162, 3);
    color: white;
    border: none ;
    border-radius: 10px;
}
.btn:hover{opacity: .9;}
.btn:active{background-color: rgb(212, 146, 2)}