*{
    padding: 0px;
    margin: 0px;
    font-family: 'Alegreya', serif;
    font-family: 'Caveat', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Zilla Slab', serif;
}

body{
    background-color: #0A2647;
}

.container{
        display: grid; 
        grid-template-columns: 0.2fr 1fr; 
        grid-template-rows: 0.3fr 2.9fr 0.2fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "nav nav"
            "sidebar area"
            "footer footer"; 
        height: 100vh;
        gap: 10px;
}

.navbar { 
    grid-area: nav;
    display: flex;
    align-items: center;
    font-size: 20px;
    background-color: #144272;
    box-shadow: 5px 10px 10px #0a1b2c ;
}

.logo{
    flex: 2;
    display: flex;
    justify-content: flex-start;
    
}
.logo a{
padding: 20px 30px;
margin: 0px 30px;
}

.links{
    flex: 3;
    display: flex;
    justify-content: flex-end;
    margin: 0px 30px;
}

.links a {
    padding: 20px 30px;
}

a{
    color: white;
    text-decoration: none;
}
.sidebar {
    grid-area: sidebar; 
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    border: 1px solid black;
    color: white;
}
.content { 
    grid-area: area;
    display: flex;
    justify-content: center; 
    gap: 2px;
    margin: 0px 30px;
}

.hh{
    background-color: green;
}

.logo svg{
    width: 40px;
    color:black;
}
a{
    opacity: .8;
}

a:hover{
    opacity: 1;
}

.img1{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

}
.img2{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    

}
.img{
    color: white;
}
.img h1{
    margin: 2% 0%;
    opacity: .8;
}

.img img {
    width: 90%;
    height: 70%;
    border: 3px solid white;
}
.img p{
    font-weight: 700;
    padding: 4% 10%;
    text-align: center;
    opacity: .8;
}
footer{
    grid-area: footer; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #144272;
    color: white;
}

@media (max-width:1150px){
    .container{
        grid-template-areas: 
        "nav nav"
        "area area"
        "footer footer"; 
    }
    .logo{
        text-align: center;
        justify-content: center;
        align-self: center;
        width: 100%;
        margin-right: 4%;
    }
    .links{
        display: none;
    }
    .sidebar{
        display: none;
    }

    .content{
        display: block;
    }

    .img img{
        height: 50%;
        width: 50%;
    }
}